<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ game.title }}</title>
</head>
<body>
    <h1>{{ game.title }}</h1>
    <p>Описание игры: {{ game.description }}</p>
    <div style="width:640px;height:480px;max-width:100%">
        <div id="game"></div>
    </div>
    <script type="text/javascript">
        EJS_player = '#game';
        EJS_biosUrl = ''; // URL до BIOS для Famicom Disk System, если это необходимо
        EJS_gameUrl = '{{ game_url }}'; // URL до игры
        EJS_core = 'nes'; // Optional core: mesen, nestopia
        EJS_lightgun = false; // Lightgun
    </script>
    <script src="https://www.emulatorjs.com/loader.js"></script>
    <p><a href="{{ rom_file_url }}">Скачать</a></p>
</body>
</html>